doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript' href='/javascripts/libs/jquery-1.10.2.min.js')
    link(rel='javascript' href='/javascripts/libs/bootstrap.min.js')
    link(rel='javascript' href='/javascripts/libs/angular.min.js')
    link(rel='javascript' href='/javascripts/libs/angular-route.min.js')
    link(rel='javascript' href='/javascripts/libs/angular-resource.min.js')
    link(rel='javascript' href='/javascripts/libs/angular-cookies.min.js')
  body
    block content
